@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital@400;500;600;700;800;900&display=swap');

body{
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey: rgba(41,41,41,1);
}

.container{
  @apply max-w-screen-xl mx-auto flex max-2xl:px-4
}

.bg-gradient-custom {
  background: linear-gradient(90deg, #010035 20%, #020056 100%);
}

.gradient-text {
  background: linear-gradient(116.04deg, #F81A84 3.64%, #2200F3 95.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-background {
  background: linear-gradient(180deg, #9281FF 0%, #2200F3 100%);
}

